<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>my first angular demo</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/myangular.css" media="screen" title="no title" charset="utf-8">

    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body ng-app="myModule">
    <hr>
    <h4>Basic controller</h4>
    <div class="container-fluid">
      <div class="" ng-controller="myController">
        {{message}}
        <p>
          firstName :
          {{employee.firstName}}
        </p>
        <p>
          lasttName :
          {{employee.secondName}}
        </p>
      </div>

      <!--ng-src example -->

      <hr>
      <h4>
        img src vs ng-src example</h4>
      <div class="" ng-controller="ImgController">
        <p>
          Country :
          {{country.name}}
        </p>
        <p>
          Capital :
          {{country.capital}}
        </p>
        <img alt="{{country.name + ' Flag'}}" ng-src="{{country.image}}" style="height:100px;width:200px"/>
      </div>
      <div class="" ng-controller="myController">
        <hr>
        <h4>
          2 way data binding via : ng-model</h4>
        <input ng-model="message" type="text"/>
        {{message}}
      </div>
      <hr>
      <div class="" ng-controller="myController">
        <h4>complex example of 2 way data binding</h4>
        <table class="table-responsive table-striped table-bordered table-condensed">
          <tr>
            <td>
              First Name :
            </td>
            <td>
              <input type="text" name="name" ng-model="employee.firstName">
            </td>
          </tr>
          <tr>
            <td>
              Second Name :
            </td>
            <td>
              <input type="text" name="name" ng-model="employee.secondName">
            </td>
          </tr>
        </table>
        <table class="table-responsive table-striped table-bordered table-condensed">
          <tr>
            <td>
              First Name :
            </td>
            <td>
              {{employee.firstName}}
            </td>
          </tr>
          <tr>
            <td>
              Second Name :
            </td>
            <td>
              {{employee.secondName}}
            </td>
          </tr>
        </table>

      </div>

      <div class="" ng-controller="RepeatController">
        <hr>
        <h4>
          Simple ng-repeat directive</h4>
        <table class="table-responsive table-striped table-bordered table-condensed">
          <thead>
            <th>
              Friend
            </th>
            <th>
              city
            </th>
          </thead>
          <tr ng-repeat="f in friends">
            <td>
              {{f.name}}
            </td>
            <td>
              {{f.city}}
            </td>
          </tr>

        </table>
        <hr>
        <h4>Nested ng-repeat directive</h4>
        <ul>
          <li ng-repeat="country in countries">
            {{country.name}}
            - Index
            {{$index}}
            <ul>
              <li ng-repeat="city in country.cities">
                {{city.name}}
                - Parent Index
                {{$parent.$index}}
                - Index
                {{$index}}
              </li>
            </ul>

          </li>
        </ul>
      </div>
      <hr>
      <div class="" ng-controller="TechnologyController">
        <h4>
          Angular Events Demo ng-click
        </h4>
        <table class="table-responsive table-striped table-bordered table-condensed">
          <thead>
            <th>
              Technology
            </th>
            <th>
              Likes
            </th>
            <th>
              Dislikes
            </th>
            <th>
              Like/Dislike
            </th>
            <tr ng-repeat="technology in technologies">
              <td>
                {{technology.name}}
              </td>
              <td>
                {{technology.likes}}
              </td>
              <td>
                {{technology.disklikes}}
              </td>
              <td>
                <input type="button" name="btnLike" value="Like" ng-click="incrementLikes(technology)">
                <input type="button" name="btnDislike" value="Dislike" ng-click="decrementLikes(technology)">
              </td>

            </tr>
          </thead>

        </table>

      </div>
      <hr>
      <div class="" ng-controller = "FiltersController">
        <h4>Filters in Angular - format,filter,sort</h4>
         <br>
         Search Filters :
         <!-- <input type="text" placeholder = "Search across all columns" ng-model = "searchText" value=""> -->
         <br>
         <input type="text" placeholder = "Search Name"  ng-model = "searchText1.name">
         <input type="text" placeholder = "Search Gender"  ng-model = "searchText1.gender">
          <input type="checkbox" ng-model = "exactMatch"> : Exact Match
         <br>
         Combo search
         <input type="text" placeholder = "Search name & gender" ng-model="searchText">

         <br>
        No of Rows limit:
        <input type="number" step ="1" min="0" max ="4" name="name" value="" ng-model ="rowlimit">
        <br>
         Sort Order :
         <select class="" name="" ng-model="sortColumn">
           <option value ="name">Name ASC </option>
           <option value ="dob"> DOB ASC </option>
           <option value = "-salary">SALARY DESC </option>
         </select>
         <br>
         Bi-directional Sort:Click on table headers


        <table class="table-responsive table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th ng-click="sortData('name')">
                Employee Name <div class="" ng-class = "getSortClass('name')">
                </div>
              </th>
              <th ng-click="sortData('dob')">
                Date of Birth <div class="" ng-class = "getSortClass('dob')">
                </div>
              </th>
              <th ng-click="sortData('gender')">
                Gender<div class="" ng-class = "getSortClass('gender')">
                </div>
              </th>
              <th ng-click="sortData('salary')">
                Salary (number) <div class="" ng-class = "getSortClass('salary')">
                </div>
              </th>
              <th ng-click="sortData('salary')">
                Salary (currency) <div class="" ng-class = "getSortClass('salary')">
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "employee in employees | orderBy:sortColumn:reverseSort | limitTo:rowlimit | filter:search ">
              <!--  filter:searchText:exactMatch -->
              <td>
                {{employee.name | uppercase}}
              </td>
              <td>
                {{employee.dob | date :"dd/MM/yyyy"}}
              </td>
              <td>
                {{employee.gender | lowercase}}
              </td>
              <td>
                {{employee.salary | number:2}}
              </td>
              <td>
                {{employee.salary | currency:"&#8377":1}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script charset="utf-8" src="js/angular.min.js"></script>
    <script charset="utf-8" src="js/script.js"></script>
  </body>
</html>
